@import url(./blocks/body/body.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link-logo/header__link-logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__list/header__list.css);
@import url(./blocks/header/__list-item/header__list-item.css);
@import url(./blocks/header/__link-item/header__link-item.css);
@import url(./blocks/header/__link-list/header__link-list.css);
@import url(./blocks/header/__profile-icon/header__profile-icon.css);

@import url(./blocks/main/main.css);

@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__item-img/cards__item-img.css);